body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url("/static/satinweave/satinweave.png");
  background-image: url("/static/clouds_2.jpe");
  background-size:2920px 2090px;

}


#instructions {
  width: 70%;
  font-weight: 400;
  text-align: center;
  font-size: 100%;
  vertical-align: middle;
}

#reminderemails
{
  
  font-style: "bold";
  font-weight: 400;
  text-align: center;
}

.row {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: "bold";
  font-size: 20px;
  text-align: center;
}

#date {
  font-size: 150%
}

.panel-body {
  background-color: #ffc299;
  border-color: #ffc299;
}

#email {
  font-style: "bold";
  font-weight: 400;
}

.navbar-default {
    background-color: #D5D5D5;
    border-color: #D5D5D5;
}

.radio3 {
    width: 1em;
    height: 1em;
}

.radio1 {
    width: 1em;
    height: 1em;
}

.radio2 {
    width: 1em;
    height: 1em;
}