body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url("/static/pw_maze_white_@2X.png");

}

#instructions {
  width: 70%;
  font-weight: 400;
  text-align: center;
  font-size: 100%;
  vertical-align: middle;
}

#reminderemails
{
  
  font-style: "bold";
  font-weight: 400;
  text-align: center;
}

.row {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: "bold";
  font-size: 20px;
  text-align: center;
}

#date {
  font-size: 150%
}

.panel-body {
  background-color: #9ce39c;
  border-color: #9ce39c;
}

#email {
  font-style: "bold";
  font-weight: 400;
}

.navbar-default {
    background-color: #737373;
    border-color: #737373;
}

.active {
  background-color: #9ce39c;
  border-color: #9ce39c;
}

.radio3 {
    width: 1em;
    height: 1em;
}

.radio1 {
    width: 1em;
    height: 1em;
}

.radio2 {
    width: 1em;
    height: 1em;
}

.navbar-default .navbar-nav>.active>a{
  background-color:#9ce39c;
  font-weight: 400;
  color:black;
}
