body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-image: url("/static/satinweave/satinweave.png");
  background-image: url("/static/mountain.jpg");
}


/*THIS STYLES THE CHART*/
rect.bordered {
        stroke: #666;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }

