<!-- this page has instructions on how to use the app -->

<!-- this is the form to submit time spent information  -->

<!DOCTYPE html>
<html>
    <head>
        <title>
            Main Time Tracker Form
        </title>
    </head>

<body>
    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}
<h1>Thanks for trying TimeTracker!</h1>

    <p> Activity diaries are common components of Cognitive Behavioral Therapy. A crucial information gathering tool, keeping track of your
    daily activities and moods can give you important insights into your overall wellbeing. 
    </p>

    <p>Getting started is super easy! Every day, you'll have the opportunity to fill out our simple activity. Based on common Cognitive Behavioral Therapy worksheets, for each hour block from 6am to 
<form action="/response" method="GET">
    <input type="submit" value="Go to my form!">

</form>


</body>
</html>