<!-- this page is the main login/ splash page -->


<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/static/signin.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
   <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <title>
            Login
        </title>

    </head>

<body>
    <div class = "container-fluid">

        {% for flash in get_flashed_messages() %}
            {{ flash }}
        {% endfor %}
        <br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h1>Time Minded</h1>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h2>Login</h2> 
            </div>
        </div>
                <form action="/login" method="POST">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <label>Email:
                                <input type="email" name="email" required>
                            </label>
                        </div>
                    </div>

                    <br><br>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <label>Password:
                                <input type="password" name="password" required>
                            </label>
                        </div>
                    </div>
                        
                        <br><br>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <input type="submit" value="Log In">
                        </div>
                     </div>
                </form>
        <br><br>
    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <h2>Sign Up!</h2> 
                <form action="/signup" method="GET">
                    <input type="submit" value="Sign Up">
                 </form>
            </div>
        </div>
    </div>
</body>
</html>