<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-workweek {
        fill: #000;
      }

      text.axis-worktime {
        fill: #000;
      }
    </style>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
   
  </head>
  <body>
  
  <!-- DATE INPUT FORM -->
   
    <input type="date" name="date" id="date">
    <button id="triggersubmit">Imput a Date!</button>


    <!-- GO TO TIME TRACKER FORM -->
  
  <a id="timetrack" class="click-me" href="http://localhost:5000/response">Track My Time!</a>

  <!-- THIS IS THE SECTION WITH THE CHART  -->
    
    <div id="chart"></div>
    <div id="dataset-picker">
    </div>
    <script src="/static/d3textwrap.v0.js" charset="utf-8"></script>
    <script src="static/javascript.js"></script>
    <!-- THIS ENDS THE SECTION WITH THE CHART -->
  
  </body>
</html>