<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <!-- STYLES AXIS AND CARDS IN CHART -->
    <style>

    </style>
                <!-- D3 AND JQUERY ADDED -->
    
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
   
  </head>
  
  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
  
  <!-- DATE INPUT FORM -->
    <br>
    <input type="date" name="date" id="date">
    <button id="triggersubmit">See a different week</button>

    <!-- GO TO TIME TRACKER FORM -->
  
  <a id="timetrack" class="click-me" href="http://localhost:5000/response">Track My Time!</a>

  <!-- LOG OUT LINK -->
    
    <a id="logout" class="click-me" href="http://localhost:5000/logout">Logout</a>
  
  <!-- THIS IS THE SEARCH BOX -->
  
    <input type="text" name="search" id="search">
    <button id="search-btn">Search!</button>

    <!-- CLEAR SEARCH BUTTON -->

    <button id="clear-search">Clear Previous Search</button>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!-- THIS IS THE SECTION WITH THE CHART  -->
    <div class="container-fluid">
      <div id="chart"></div>
      <div id="dataset-picker">
      </div>
      <script src="/static/d3textwrap.v0.js" charset="utf-8"></script>
      <script src="static/javascript.js"></script>
    </div>
  <!-- THIS ENDS THE SECTION WITH THE CHART -->
  
  </body>
</html>