<!-- this page is the main login/ splash page -->


<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/static/signin.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <title>
            Login
        </title>

    </head>

<body>
    <div class = "container-fluid">

        {% for flash in get_flashed_messages() %}
            {{ flash }}
        {% endfor %}
        <div class="row">
            <div class="col-xs-12 col-xs-offset-6">
                <h1>Time Minded</h1> 
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12 col-xs-offset-6">
                <h2>Login</h2> 
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-xs-offset-5">
                <form action="/login" method="POST">

                    <div>
                        <label>Email:
                            <input type="email" name="email" required>
                        </label>
                    </div>
                    <br><br>
                    <div>
                        <label>Password:
                            <input type="password" name="password" required>
                        </label>
                        <br><br>
                    </div>
            </div>

                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-6">
                            <input type="submit" value="Log In">
                        </div>
                     </div>
                </form>
    <br><br>
    
    <div class="row">
        <div class="col-xs-4 col-xs-offset-6">
            <h2>Sign Up!</h2> <form action="/signup" method="GET">
                <input type="submit" value="Sign Up">
             </form>
        </div>
    </div>
</body>
</html>